/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

.wrapper {
  height: 300px;
  width: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

/* Image Style */
img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
p {
  font-size: 15px;
}

/* Caption` */
.description {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: -30px;
  left: 0;
  text-align: center;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transform: translateY(90px);
  transition: transform 0.5s cubic-bezier(0.8, -1, 0.26, 2);
}

.wrapper:hover .description {
  transform: translateY(0);
}
