body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin-top: 80px;
}

.glow1 {
  width: 150px;
  height: 150px;
  background-color: #fff;
  /* In the order of x offset, y offset, blur, spread, color */
  box-shadow: 0 0 40px 20px #0ff;
}

.glow2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 60px black,
    0 0 100px 60px red,
    0 0 140px 60px yellow;
}
