body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
}

.icon {
  margin: 5px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe8ee;
  border-radius: 50%;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.2)
}

.icon i {
  font-size: 25px;
  color: #957DAD;
  transition: transform 0.2s;
}

.icon:hover i {
  transform: rotate(15deg) scale(1.5);
}
