/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Style */
.button {
  position: relative;
  font-size: 30px;
  padding: 10px 30px;
  border: 3px solid black;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  color: white;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button::before,
.button::after {
  position: absolute;
  content: '';
  width: 25%;
  height: 100%;
  z-index: -1;
  transition: transform 0.3s;
}

/* Red */
.button::before {
  top: 0;
  left: 0;
  background-color: red;
  transform: translateY(-100%);
}

/* Orange */
.button::after {
  top: 0;
  left: 25%;
  background-color: orange;
  transform: translateY(100%);
}

/* Dummy shape to make use of before and after pseudo
elements and add background color to the button */
.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -2;
}

.shape::before,
.shape::after {
  position: absolute;
  content: '';
  width: 25%;
  height: 100%;
  transition: transform 0.3s;
}

/* Green */
.shape::before {
  top: 0;
  left: 50%;
  background-color: green;
  transform: translateY(-100%);
}

/* Purple */
.shape::after {
  top: 0;
  left: 75%;
  background-color: purple;
  transform: translateY(100%);
}

/* Hover Effect */
.button:hover::before,
.button:hover::after,
.button:hover .shape::before,
.button:hover .shape::after {
  transform: translateY(0%);
}
