body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
}

.icon {
  border: 3px solid black;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
}

.icon i {
  font-size: 25px;
  color: black;
}

.icon:focus{
  animation: bounce 0.4s cubic-bezier(.59,-0.67,.24,.79) 2;
  animation-direction: alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-70px);
  }
}
