body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tree wrapper */
.tree {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leaves,
.wood {
  height: 50%;
}

/* leaves wrapper */
.leaves {
  width: 100%;
  position: relative;
  transform: translateY(40px);
  z-index: 1;
}

.wood {
  width: 40px;
  background-color: #e58749;
  position: relative;
}

.wood::before,
.wood::after {
  position: absolute;
  content: "";
  background-color: #e58749;
  width: 40px;
  height: 60px;
}

.wood::before {
  top: -50px;
  transform-origin: right bottom;
  transform: rotateZ(-30deg);
}

.wood::after {
  top: -60px;
  transform-origin: left bottom;
  transform: rotateZ(30deg);
}

.leaf {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: transform 0.5s;
}

#one {
  top: -15px;
  left: 25%;
  background-color: #27b229;
}

#two {
  bottom: 0;
  left: 5%;
  background-color: #0ea511;
}

#three {
  bottom: 0;
  right: 5%;
  background-color: #2d9b2e;
}

.leaf::before {
  height: 20px;
  width: 20px;
  background-color: #e2062c;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%) scale(0);
  transition: transform 0.3s;
}

/* Hover Effect */
.tree:hover .leaf {
  transform: scale(1);
}

/* Delays for each leaf */
.tree:hover #one {
  transition-delay: 0.4s;
}

.tree:hover #two {
  transition-delay: 0.2s;
}

.tree:hover #three {
  transition-delay: 0s;
}

/* Delays for apples */
.tree:hover .leaf::before {
  transform: translate(-50%, 30%) scale(1);
  transition-delay: 0.6s;
}
