body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: black;
}

h1 {
  font-size: 100px;
  text-transform: uppercase;
  position: relative;
  color: gold;
}

h1::before {
  content: "BOOM!";
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}

h1:hover::before{
  transform: scale(1.3);
  opacity: 0;
}
