/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

.wrapper {
  height: 300px;
  width: 250px;
  position: relative;
  border: 8px solid #c6b0a1;
  perspective: 1000px;
}

/* Image Style */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  transform-origin: left;
}

/* Caption Style */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
}

.description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #e7d1c2;
  z-index: -1;
}

.wrapper:hover img {
  transform: rotateY(-90deg);
}
